<!--  Replace footer social links here -->

<li class="d-inline-block ml-1 mr-1">
    <a target="_blank" href="https://www.tiktok.com/@rique.trd" class="text-dark">
        TikTok RiqueTRD
    </a>
</li>

<li class="d-inline-block ml-1 mr-1">
    <a target="_blank" href="https://www.tiktok.com/@rique.gratidao" class="text-dark">
        TikTok RiqueGratidao
    </a>
</li>

<li class="d-inline-block ml-1 mr-1">
    <a target="_blank" href="https://www.youtube.com/@RiqueGratidao" class="text-dark">
        Youtube
    </a>
</li>

<li class="d-inline-block ml-1 mr-1">
    <a target="_blank" href="https://www.instagram.com/rique.trd/" class="text-dark">
        Instagram
    </a>
</li>


<li class="d-inline-block ml-1 mr-1">
    <a target="_blank" href="https://www.kwai.com/@riquetrd" class="text-dark">
        Kwai RiqueTRD
    </a>
</li>

<li class="d-inline-block ml-1 mr-1">
    <a target="_blank" href="https://www.kwai.com/@riquegratidao" class="text-dark">
        Kwai RiqueGratidao
    </a>
</li>

</li>
