<!--  Replace top menu links here -->

<li class="nav-item">
    <a class="nav-link active" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="https://loja.infinitepay.io/flatterce" target="_blank">Perfumes Flatter</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="https://collshp.com/lojagratidao" target="_blank">Achadinhos</a>
</li>
<li class="nav-item dropdown">
	<a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Biblia
	</a>
	<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdown02">
		<h4 class="dropdown-header display-4">Novo Testamento</h4>
		<div class="dropdown-divider">
		</div>
		<span class="dropdown-item">
			<a href="{{site.baseurl}}/categories.html#mateus" class="btn btn-primary d-block">Mateus</a>
		</span>
		<span class="dropdown-item">
			<a href="{{site.baseurl}}/categories.html#marcos" class="btn btn-primary d-block">Marcos</a>
		</span>
		<span class="dropdown-item">
			<a href="{{site.baseurl}}/categories.html#lucas" class="btn btn-primary d-block">Lucas</a>
		</span>
		<span class="dropdown-item">
			<a href="{{site.baseurl}}/categories.html#joao" class="btn btn-primary d-block">João</a>
		</span>
		<div class="dropdown-divider">
		</div>
		<span class="dropdown-item">
			<a href="{{site.baseurl}}/categories.html#atos" class="btn btn-primary d-block">Atos</a>
		</span>
		<div class="dropdown-divider">
		</div>
		<span class="dropdown-item">
			<a href="{{site.baseurl}}/categories.html#galatas" class="btn btn-primary d-block">Gálatas</a>
		</span>
		<span class="dropdown-item">
			<a href="{{site.baseurl}}/categories.html#tiago" class="btn btn-primary d-block">Tiago</a>
		</span>
		<span class="dropdown-item">
			<a href="{{site.baseurl}}/categories.html#1tessalonicenses" class="btn btn-primary d-block">1 Tessalonicenses</a>
		</span>
		<span class="dropdown-item">
			<a href="{{site.baseurl}}/categories.html#2tessalonicenses" class="btn btn-primary d-block">2 Tessalonicenses</a>
		</span>
	</div>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html">Categorias</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about.html"><img class="rounded-circle mr-2" src="{{site.baseurl}}/{{site.avatar}}" width="30"><span class="align-middle">About</span></a>
</li>
